* {
    font-family: 'Lato';
}
a{
    text-decoration: none;
    color: black;
    
}
.shell{
    width: 972px;
    margin: 0 auto;
}
.about{
    height: 63px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.about-menu__items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
}
.about-menu__items li{
    margin-right: 40px;
    text-transform: uppercase;
    font-size: 15px;
    
    
    
}
.about-menu__item__item1{
    color: #c3ba9d;
}
/* main */
.main{
    height: 700px;
}
.about_main{
    position: relative;
}
.about_title{
    position: absolute;
    top: 156px;
    left: 43%;
    font-weight: bold;
    font-size: 34px;
    text-transform: uppercase;
    letter-spacing: 6px;
}
.about_title::after{
    content: "";
    width: 81px;
    height: 1px;
    background: black;
    position: absolute;
    bottom: -35px;
    right: 25%;
}
.about_statements{
    position: absolute;
    top: 268px;
    font-size: 14px;
    color: #969595;
    text-align: justify;
    line-height: 30px;
    
}
.about_statement1 {
    margin-left: 140px;
}
.about_statement2 {
    margin-left: 244px;
}
.about_statement3 {
    margin-left: 340px;
}
.about_columns {
    position: relative;
    top: 420px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    

}
.about_column__web img{
    margin-left: 64px; 
}
.about_column__iosandroid img{
    margin-left: 90px;
}
.about_column__marketing img{
    margin-left: 80px;
}
.about_column__web {
    max-width: 220px;
    
}
.about_column__iosandroid {
    max-width: 275px;
    
    
}
.about_column__marketing {
    max-width: 260px;
    
} 
.about_column__subtitle{
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: black;
    letter-spacing: 3px;
    margin-top: 42px;

}
.about_column__text{
    color: #a6a6a6;
    text-align: center;
    line-height: 27px;
    font-weight: 100;
    font-size: 14px;
    margin-top: 32px;
}
.about_portfolio{
    position: relative;
    background: #f3f3f3;
    top: 525px;
    height: 1700px;
    z-index: -1;

}
.about_portfolio .about_title{
    position: absolute;
    top: 100px;
    left: 37%;
    
}
.about_portfolio .about_title::after{
    left: 33%;    
}
.about_portfolio .about-menu__items li{
    margin-top: 222px;
}
.about_portfolio__gallery{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 1130px;   
    margin-top: 135px;
}
.about_portfolio__gallery__block{
    height: 362px;
    width: 434px;
    background: #eaeaea;    
}
.about_portfolio__gallery__block:nth-child(4){   
    width: 483px;
}
.about_portfolio__gallery__block:nth-child(5){
    width: 483px;
}
.about_portfolio__gallery__block:nth-child(6){
    width: 483px;
}
.about_portfolio button{
    position: absolute;
    left: 402px;
    margin-top: 66px;
    padding: 18px 44px;
    border: 1px solid black;
    font-size: 16px;
    text-transform: uppercase;
    
}
.footer{
    position: relative;
    top: 1805px;
    max-width: auto;
    height: 1480px;
}
.footer .about_title{
    position: absolute;
    top: 570px;
    left: 37%;
}
.footer .about_title::after{
    left: 31%;    
}
.form{
   
    display: flex;
    
   
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .5px;
    
}
.form_group{
    position: relative;
    top: 377px;
    
    padding-bottom:32px;
    
}
 .form_input{
    
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 160px; 
    
}
.form_label{
    position: absolute;
    top: -16px;
        
}
   
.message{
    top: 519px;
    right: 327px;      
} 
.message .form_input{
    width: 380px;
}
.e-mail{
    left: 60px;
}
.contact_info{
    position: relative;
    top: 306px;
    left: 470px;
    width: 250px;
    font-size: 14px;
    font-weight: thin;
}
.contact_name{
    font-size: 14px;
    font-weight: bold;
    margin-top: 42px;
}
.social_links{
    display: flex;
    margin-top: 26px;
}
.lin{
    margin-left: 12px;
}
.mail{
    margin-left: 2px;
    font-weight: bold;
}
.contact_e-mail{
    margin-top: 6px;
}
.send{
    position: absolute;
    top: 1091px;
    left: 40%;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .5px;
    background: transparent;
    border: none;
}
.footer_image{
    position: relative;
    top: 575px;
}





