* {
    margin: 0;
    padding: 0;
    font-family: 
}

a{
    text-decoration: none;
}

.gram{
    height: 225px;
    width: 350px;
    border: 1.5px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


}

.gram::before{
    content: "";
    height: 100%;
    width: 30%;
    border: 1px solid pink;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(255, 0, 255);    
}

.gram::after{
    content: "";
}
.camera{

}