.item{
    background-color: wheat;
    border: 1.5px solid plum;
    width: 240px;
    height: 135px; 
    display: inline-block;
    font-family: 'Faster One';
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end; 

    
}

.a{
    font-size: 100px;
    color: hsl(45, 75%, 30%);
    order: 1
    
    
}

.b{
    font-size: 64px;
    order: 2;
    color: hsl(130, 90%, 20%)
    
}

.c{
    font-size: 50px;
    order: -10;
    color: hsl(90, 50%, 45%)
    
}

.d{
    font-size: 36px;
    order: -5;
    color: hsl(300, 12%, 36%)
}