* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: .5px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form{
    width: 250px;
    padding: 20px;
    border-radius: 15%;
    box-shadow: 0 4px 16px gray;
    
    
}

.form_input,
.form_button{
    
    font-size: 16px;
   
}

.form_title{
    text-align: center;
    margin: 0 0 32px 0;
    font-weight: normal;
}

.form_group{
    position: relative;
    margin-bottom: 32px;
}

.form_label{
    position: absolute; 
    top: 0;
    right: 80%;
    z-index: -1;
    color: lightslategray;
    transition: .45s;
    
}



.form_input{
    width: 100%;
    padding: 0 0 16px 0;
    border: none;
    border-bottom: .5px solid lightslategray;
    background-color: transparent;
    outline: none;
    transition: .45s;
}

.form_input:focus{
    border-bottom: .5px solid lightskyblue;

}

.form_button{
    padding: 5px 10px;
    
    border: none;
    border-radius: 25%;
    background-color: rgba(0, 166, 200, 0.85);
    color: rgba(243, 54, 227, 0.507);
    outline: none;
    cursor: pointer;
    
}

.form_button:focus,
.form_button:hover{
    background: rgba(0, 166, 83, 0.75);
    

}

.form_input:focus ~ .form_label,
.form_input:not(:placeholder-shown) ~ .form_label{
 
    top: -24px;
    font-size: 10px;
    color: rgba(50, 200, 100, 0.432);
}